.card a {
	color: var(--primary-color);
}

.card a:hover {
	text-decoration: underline;
}

.script {
	font-size: 4rem;
	font-family: "Pacifico", sans-serif;
	background: linear-gradient(
		245.05deg,
		var(--primary-color) 2.97%,
		var(--secondary-color) 97.45%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}
