@import url(styles/main.css);

.project-img {
	width: 100%;
	border-radius: var(--border-radius);
}

@media only screen and (min-width: 800px) {
	.wide {
		grid-column: span 2;
	}
	.tall {
		grid-row: span 2;
	}
	.wide > .card-footer {
		flex-direction: row;
	}
	.card-container {
		grid-auto-flow: dense;
	}
}
